/*Esto es un comentario*/

body {
    color:aliceblue;
    background-color:darkslategray;
}

#titulo {
    color: aqua;
}

p.texto {
    color:azure;
}

p.especial {
    color:wheat;
}

.span {
    color:chartreuse;
}

table, th, td {
    border: 1px solid #00ffff;
}

div p {
    color: aliceblue;
}

div h2, h3 {
    color: darkgray;
}
/*
.color {
    color: #00ffff;
}
*/
.color {
    /* border: 5px yellow outset; */
    /*
    dotted
    dashed
    solid
    double
    groove
    ridge
    inset
    outset
    none
    hidden
    */
    border-style: outset;
    border-color: yellow;
    border-radius: 10px;
    border-width: 5px;
}

