/*Esto es un comentario*/

body {
    margin: 20px;
    color:aliceblue;
    font-family: 'Mynerve', cursive;
    text-shadow: 2px 2px 2px black;
    background-color: rgba(0,0,0,0.7);
    background-image: url('../img/misato.png');
    background-size: cover;
}

#titulo {
    color: aqua;
}

h1 {
    text-align: center;
}

p.texto {
    color:azure;
}

p.especial {
    color:wheat;
}

.span {
    color:chartreuse;
}

table, th, td {
    border: 1px solid #00ffff;
}

div p {
    color: aliceblue;
}

div h2, h3 {
    color: darkgray;
}
/*
.color {
    color: #00ffff;
}
*/
.color {
    /* border: 5px yellow outset; */
    /*
    dotted
    dashed
    solid
    double
    groove
    ridge
    inset
    outset
    none
    hidden
    */
    border-style: outset;
    border-color: yellow;
    border-radius: 10px;
    border-width: 5px;
}

/*
Medidas relativas
2em=2 veces el tamaño de la fuente, ejemplo:
si el tamaño de la fuente es de 10px y le añadimos
un borde de tamaño 2em, entonces el borde sera de
20px.

rem=tamaño relativo de la fuente raiz que se encuentra
en el tag html que usualmente es de 16px
*/

.margen {
    background-color: rgb(104, 85, 60);
    margin: 15px 20px 25px 30px; /*top,right,bottom,left*/
    padding: 30px 25px 20px 15px;
    border: solid 4px #00ffff;
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 4px solid yellow;
}